.App-header {
  background-color: #fff;
  text-align: center;
  /* height: 100px; */
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2e3532 !important;
}

.App-title {
    letter-spacing: 1px;
    text-decoration: none !important;
    margin-top: 0px !important;
}

.chip {
    position: absolute;
    top: 30px;
    left: 30px;
    animation: App-logo-spin infinite;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}