.App-logo {
  height: 80px;
}

.App-title {
  font-size: 2em;
  margin-bottom: 5px !important;
}

.App-subtitle {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.pageTitle {
  text-align: center !important;
}

.pageContent {
  text-align: left !important;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* @media screen and (min-width: 500px){
  .pageContent {
      margin-top: 160px !important;
  }
} */